@font-face {
    font-family: 'digital';
    src: url('../fonts/digital-7-mono-italic.ttf');
}
/*
@font-face {
    font-family: 'Simsun';
    src: url('../fonts/simsun.ttc');
}
@font-face {
    font-family: '华文行楷';
    src: url('../fonts/STXINGKA.TTF');
}
@font-face {
    font-family: 'Microsoft YaHei';
    src: url('../fonts/msyh.ttc');
}
@font-face {
    font-family: 'Segoe UI';
    src: url('../fonts/seguisb.ttf');
}
*/
body {
    background-color: white;
    margin: 0;
}
.clock-bottom {
    background-color: #353638;
    height: 600px;
    width: 800px;
    margin: 10px;
    box-shadow: #1c1c1e9c 5px 5px 10px 5px;
    border-radius: 3px;
    border:22px outset #35363856;
}
.clock-sidebar {
    height: 556px;
    width: 756px;
    background-color: #4a4a4d;
    position: absolute;
    top: 32px;
    left: 32px;
    border:22px inset #35363856;
}
.clock-surface {
    background-color: #1C1C1E;
    height: 100%;
    width: 100%;
    display: flex;
}
.clock-display {
    position: absolute;
    color: #F9F6DE;
    font-family: 'digital';
    font-size: 45px;
    letter-spacing: 6px;
    text-shadow: 0 0 10px #ff0000, 0 0 20px #ff0000, 0 0 30px #DF3A46;
    white-space: pre;
    z-index: 1;
    text-indent: 6px;
}
.clock-display-beneath {
    position: absolute;
    color: #7D505D;
    font-family: 'digital';
    font-size: 45px;
    letter-spacing: 6px;
    white-space: pre;
    z-index: 0;
    background-color: #38383b;
    text-indent: 6px;
    height: 45px;
}
.clock-text {
    position: absolute;
    color: #BCBAB6;
    font-family: 'Microsoft YaHei', sans-serif;
    font-size: 30px;
    white-space: pre;    
}
#logo {
    font-family: '华文行楷';
    top: 50px;
    left: 102px;
    height: 100px;            
}
#right {
    font-size: 10px;
    top: 50px;
    left: 160px;
    height: 100px;
}
#clockname {
    font-size: 16px;
    top: 47px;
    left: 180px;
}
#translate {
    font-size: 6px;
    top: 70px;
    left: 180px;
}
#calendar, #year, #month, #day, #week, #weekd, #temp, #tempd {
    top: 118px;
    left: 75px;
}
#year {
    left: 145px;
}
#month {
    text-align: left;
    left: 305px;
}
#day {            
    left: 400px;
}
#week, #temp {
    writing-mode: vertical-lr;
    font-size: 20px;
    top: 120px;
    left: 505px;
}
#weekd, #tempd {
    left: 536px;
}
#temp {
    left: 585px;
}
#tempd {
    left: 614px;
}
#time {
    font-size: 55px;
    letter-spacing: 7px;
    top: 218px;
    left: 52px;
}
#hour, #minute, #second {
    font-size: 75px;
    letter-spacing: 15px;
    height: 75px;
}
#hour {
    top: 220px;
    left: 190px;
}
#minute {
    top: 220px;
    left: 350px;
}
#second {
    top: 220px;
    left: 510px;
}
#colon, #mist {
    font-family: 'Segoe UI', sans-serif;
    font-size: 75px;
    font-style: normal;
    font-weight: 500;
    top: 196px;
    left: 310px;
    white-space: pre;
}
#mist {
    top: 194px;
    left: 635px;
    text-shadow: none;
    color: #3D242A;
}
#alarm, #topclock {
    font-size: 17px;
    top: 228px;
    left: 662px;
}
#topclock {
    top: 258px;
}
#countdown {
    font-size: 55px;
    top: 360px;
    left: 52px;
}
#nameplate {
    background-color: #BCBAB6;
    padding: 4px;
    position: absolute;
    top: 358px;
    left: 130px;
    width: 140px;
    height: 62px;
    font-family: 'Simsun', 'Times New Roman', Times, serif;
    font-size: 55px;
    font-weight: bold;
    letter-spacing: 8px;
    white-space: nowrap;
    text-align: center;
    border-radius: 7px;
    border: 5px solid #1C1C1E;
    box-shadow: 0 0 0 3px #BCBAB6;
    color: #B03F36;
}
#ctd {
    font-size: 80px;
    letter-spacing: 12px;
    top: 358px;
    left: 425px;
    width: 208px;
    height: 72px;
    text-indent: 12px;
    border-radius: 5px;
    border: 5px solid #1C1C1E;
    box-shadow: 0 0 0 3px #BCBAB6;
}
#id {
    font-family: 'Segoe UI', sans-serif;
    font-weight: 500;
    font-size: 15px;
    transform: scaleX(0.9);
    top: 493px;
    left: 585px;
}
.panel-container {
    position: absolute;
    top: 10px;
    left: 875px;
    width: 380px;
    height: 645px;
    border-radius: 10px;
    background: linear-gradient(45deg, #845ec2, #2c73d2);
    box-shadow: 2px 2px 10px #000000;
}
.separator-horizontal {
    border-top: 1px solid rgb(212, 212, 212);
    margin: 0px 0px;            
}
.panel-text {
    margin: 10px 10px;
    font-family: 'Segoe UI', sans-serif;
    font-size: 20px;
    color: white;
    text-shadow: 1px 1px 1px #000000;
}
#ctdname {
    width: 110px;
    text-align: center;
    font-size: 20px;
}
#date-select {
    width: 240px;
    height: 28px;
    text-align: center;
    font-size: 20px;
    margin: 10px;
}
#exp1 {
    top: 105px;
    left: 65px;
}
#exp2 {
    top: 105px;
    left: 202px;
}
.clock-display-two {
    position: absolute;
    color: red;
    font-family: 'digital';
    font-size: 45px;
    letter-spacing: 6px;
    white-space: pre;
    z-index: 1;
    text-indent: 6px;
}
.clock-display-beneath-two {
    position: absolute;
    color: #53343d;
    font-family: 'digital';
    font-size: 45px;
    letter-spacing: 6px;
    white-space: pre;
    z-index: 0;
    background-color: #38383b;
    text-indent: 6px;
    height: 45px;
}
#api {
    width: 149px;
    font-size: 20px;
}
#tmp {
    width: 45px;
    font-size: 20px;
}
#warn {
    width: 20px;
    position: absolute;
    top: 403px;
    left: 346px;
    background-color: white;
}
#rate {
    width: 100px;
    font-size: 20px;
    text-align: right;
}
#reset {
    margin-left: 144px;
}
